/node_modules
/public/hot
# /public/storage/avatars
# /public/storage/challengess
/public/storage/submitted
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
/.idea
composer.lock
~*
