/* You can add global styles to this file, and also import other style files */
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eee;
    border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dea766;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d39d5f;
}

.main-logo {
    width: 130px;
}

.icons a p {
    display: none;
}

.icons a:hover p {
    display: inline;
}

.ajax-loader {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    z-index: +999999 !important;
    width: 100%;
    height: 100%;
}

.ajax-loader img {
    position: relative;
    top: 40%;
    left: 45%;
}
